nav {
  max-width: 435px;
  width: 100%;
  margin-right: 58px;
}
nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  height: 100%;
}
nav ul > li {
  /* font-family: "MontserratBold"; */
  height: 100%;
}
nav ul > li:last-child {
  margin-right: 0;
}

nav a {
  /* text-transform: uppercase; */
  display: block;
  text-decoration: none;
  transition: 0.3s;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  border-bottom: 3px solid transparent;
  position: relative;
}
nav a::before {
  display: block;
  opacity: 0;
  bottom: -37px;
  content: "";
  height: 3px;
  width: 100%;
  background: #dc8a8f;
  position: absolute;
  transition: 0.3s;
}

nav a:hover {
  color: #dc8a8f;

  /* border-bottom: 3px solid #dc8a8f; */
}
nav a:hover::before {
  opacity: 1;
}

@media (max-width: 992px) {
  nav {
    max-width: 320px;
    margin-right: 20px;
  }
  nav a {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}
