.header {
  background: #ffffff;
  box-shadow: 0px 4px 26px rgba(177, 123, 124, 0.12);
  padding: 15px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.headerBox {
  display: flex;
  align-items: center;
}
.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  margin-right: 100px;
}
